<div class='row'>
  <h1 class='col-11'>Classes</h1>
  <%= link_to 'New Class', new_school_subject_class_path(current_school), class: 'btn btn-primary col-1' %>
</div>

<table class='table table-stripped table-hover'>
  <thead>
    <tr>
      <th class='col-auto'><%= SubjectClass.human_attribute_name('Subject') %></th>
      <th class='col-auto'><%= SubjectClass.human_attribute_name('Grade') %></th>
      <th class='col-auto'><%= SubjectClass.human_attribute_name('Teacher') %></th>
      <th class='col-1'></th>
      <th class='col-1'></th>
      <th class='col-1'></th>
    </tr>
  </thead>
  <tbody>

    <% @subj_classes.each do |klass| %>
      <tr>
        <td><%= klass.subject.name %></td>
        <td><%= klass.grade.name %></td>
        <td><%= klass.teacher.person.name %></td>
        <td><%= link_to 'Show', school_subject_class_path(current_school, klass) %></td>
        <td><%= link_to 'Edit', edit_school_subject_class_path(current_school, klass) %></td>
        <td><%= link_to 'Delete', school_subject_class_path(current_school, klass), method: :delete %></td>
      </tr>
    <% end %>

  </tbody>
</table>

